:root[data-theme="light"] {
  --text: #000000;
  --background: #e8daf6;
  --primary: #704992;
  --secondary: #dec7f0;
  --accent: #7a30bb;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #170925;
  --primary: #946db6;
  --secondary: #260f38;
  --accent: #8e44cf;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Lato';
  font-weight: 400;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--text);
  background-color: var(--secondary);
  text-align: center;
}





