:root[data-theme="light"] {
  --text: #000000;
  --background: #e8daf6;
  --primary: #704992;
  --secondary: #dec7f0;
  --accent: #7a30bb;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #170925;
  --primary: #946db6;
  --secondary: #260f38;
  --accent: #8e44cf;
}

.modal {
  font-family: 'Lato';
  font-weight: 400;
  background-color: var(--background)!important;
  color: var(--text)!important;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a8;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Lato';
  font-weight: 400;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--text);
  background-color: var(--secondary);
  text-align: center;
}

button {
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color: var(--text);
  background-color: var(--primary);
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  transition-duration: 0.4s;}

button:hover {color:var(--text)!important;background-color:var(--secondary)!important}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container button {
  background-color: var(--accent);
  color: white;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

h2, h3, h4, h5 {
  font-family: 'Lato';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


