.checked {
  border-style: dashed;
}

.assign-orders{
  padding: 10px;
}

input[type=button]{
  height: 50px;
  width: 100px;
}

select{
  height: 50px;
  width: 100px;
}

.order-list{
  padding: 10px;
}

.driver-list{
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
  column-gap: 10%;
}

.order {
  padding: 10px;
}

.order:hover {
  background-color: var(--secondary);
  cursor: pointer;
}